env=
region=
zone1=
zone2=
eks_name=
eks_version=
terraform_tags=
grafana_password=
variable=
db_name=
db_username=
db_password=
db_parameter_group_name=
db_identifier=
db_security_group_ids=
db_subnet_group_name=
db_allocated_storage=
db_storage_type=
db_engine_version=
db_instance_class=
db_backup_retention_period=
n8n_encryption_key=